/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-container {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

table {
  width: 100%;
}

table td {
  padding-left: 5px;
  padding-right: 5px;
}
